{{ partial "header.html" . }}
<header class="main-header no-cover" style="background-image: url({{ .Site.BaseUrl }}images/bg.jpg)">
    <nav class="main-nav overlay clearfix">
        <a class="blog-logo" href="{{ .Permalink }}"><img src="{{ .Site.BaseUrl }}images/logo.png" alt="Blog Logo" /></a>
        <a class="subscribe-button icon-feed" href="{{ .RSSLink }}">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ .Site.Title }}</h1>
            <h2 class="page-description">{{ .Site.Params.description }}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content" role="main">

{{ range $index, $page := .Site.Pages }}

{{ .Render "li" }}
{{ end }}

</main>
{{ partial "footer.html" . }}