{{ partial "header.html" . }}
<header class="site-head" {{ if .Site.Params.cover }}style="background-image: url({{ .Site.BaseUrl }}{{.Site.Params.cover}})"{{end}}>
    <div class="vertical">
        <div class="site-head-content inner">
            {{ if .Site.Params.logo }}
            <a class="blog-logo" href="{{ .Permalink }}"><img src="{{ .Site.BaseUrl }}{{ .Site.Params.logo }}" alt="Blog Logo" /></a>
            {{end}}
            <h1 class="blog-title">{{ .Site.Title }}</h1>
            <h2 class="blog-description">{{ .Site.Params.description }}</h2>
        </div>
    </div>
</header>

<main class="content" role="main">

	{{ range $index, $page := .Paginator.Pages }}
	{{ .Render "li" }}
	{{ end }}

    <nav class="pagination" role="navigation">
    {{if .Paginator.HasPrev}}
        <a class="newer-posts" href="{{ .Paginator.Prev.Url }}">&larr; Newer Posts</a>
    {{end}}
    <span class="page-number">Page {{ .Paginator.PageNumber }} of {{.Paginator.TotalPages}}</span>
    {{if .Paginator.HasNext}}
        <a class="older-posts" href="{{ .Paginator.Next.Url }}">Older Posts &rarr;</a>
    {{end}}
    </nav>
    
</main>
{{ partial "footer.html" . }}