{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseUrl }}


<main class="content" role="main">

    <article class="{{.Type}}">

        
        <header class="post-header">
            <a class="blog-logo" href="{{ .Site.BaseUrl }}">
                {{ if .Site.Params.logo }}
                  <img src="{{ .Site.BaseUrl }}{{ .Site.Params.logo }}" alt="Blog Logo" />
                {{else}}
                  <span class="blog-title">{{.Site.Title}}</span>
                {{end}}

                
            </a>
        </header>

        <span class="post-meta">{{if .Site.Params.author}}{{ .Site.Params.author }}, {{end}}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHtml }}">{{ .Date.Format "2 Jan 2006" }}</time>{{if .Params.tags }}On {{ .Params.tags }}{{end}}</span>

        <h1 class="post-title">{{ .Title }}</h1>

        <section class="post-content">
            {{ .Content }}
        </section>

        <footer class="post-footer">
            
            
            <section class="author">
                <h4><a href="{{ .Permalink }}">{{ .Site.Params.author }}</a></h4>
                {{if .Site.Params.bio}}
                    <p>{{ .Site.Params.bio }}</p>
                {{else}}
                    <p>Read <a href="{{ .Site.BaseUrl }}">more posts</a></p>
                {{end}}
            </section>
            

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="https://twitter.com/share?text={{ .Title | safeHtml}}&amp;url={{ .Permalink }}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{ .Permalink }}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>


    </article>

</main>

{{ partial "footer.html" . }}
