[submodule "themes/github-style"]
	path = themes/github-style
	url = https://github.com/MeiK2333/github-style
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
