{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseUrl }}

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

			        <header class="post-header">
            <a class="blog-logo" href="{{ .Site.BaseUrl }}">
                {{ if .Site.Params.logo }}
                  <img src="/{{ .Site.Params.logo }}" alt="Blog Logo" />
                {{else}}
                  <span class="blog-title">{{.Site.Title}}</span>
                {{end}}

                
            </a>
        </header>

			{{ range where .Data.Pages "Section" "post" }}
				<div class="post">
		              <span class="post-date">{{ .Date.Format "02/01/2006" }}</span> &bull;
		              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
		        </div>
			{{ end }}
		
		</div><!-- #content -->
	</div><!-- #primary -->
</div><!-- #main-content -->

{{ partial "footer.html" . }}